/* Estilo geral do widget */
#mc-status-widget {
    color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    margin: 0 auto;
    font-family: poppins, sans-serif;
}

/* Título do widget */
#mc-status-widget p {
    margin: -4px 0;
    font-size: 22px;
	color: #000000;
}

/* Estilo do IP exibido */
#mc-server-ip {
    background: #00650F;
    color: #ffffff;
    padding: 10px 80px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    margin-top: 5px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -0.25em; /* Conforme solicitado */
}

#mc-server-ip:hover {
    background: #16a085;
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

#mc-server-user {
    color: #000000;
    padding: 10px;
    margin-top: 5px;
    font-size: 20px;
}

/* Modal de confirmação */
#mc-copy-modal {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #36AE2F;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    z-index: 9999; /* Garante que o modal fique na frente */
    animation: fadeInOut 2s ease-in-out;
}

/* Animação do modal */
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    10%, 90% {
        opacity: 1;
    }
}